body {
  font: 12px 'helvetica neue', helvetica, sans-serif;
  color: #555555;
  background-color: #fff;
  margin: 0;
  padding: 0;
  line-height: 1.8em; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Helvetica Neue', helvetica, sans-serif;
  font-weight: bold;
  letter-spacing: -0.05em;
  color: #333333;
  line-height: 1.6em; }

h1 {
  color: #333333;
  font-size: 48px; }

h2 {
  font-size: 36px; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 18px; }

h5 {
  font-size: 14px; }

h6 {
  font-size: 12px; }

p {
  margin: 0 0 1.6em; }

a:link, a:active, a:visited {
  text-decoration: none;
  padding: 1px;
  margin: -1px;
  border-radius: 0.4em;
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em; }

a:link {
  color: black;
  background-color: #DDF1FD; }

a:active {
  background-color: black;
  color: #000; }

a:visited {
  color: #333333; }

a:hover {
  color: #004080; }

.clear_both {
  clear: both; }

#header_background {
  margin: 0;
  padding: 20px 0 0;
  background: #eff8dd url('/images/lighter_grass.jpg') repeat-x top;
  background-color: #6cf;
  border-bottom: 10px solid #333333; }
  #header_background #header {
    min-width: 600px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px; }
    #header_background #header h1 a:link,
    #header_background #header h1 a:active,
    #header_background #header h1 a:visited,
    #header_background #header h1 a:hover {
      font-family: 'Helvetica Neue', helvetica, sans-serif;
      font-weight: bold;
      letter-spacing: -0.05em;
      color: #555555;
      text-decoration: none;
      background: transparent;
      display: none; }
    #header_background #header ul#navigation {
      list-style: none; }
      #header_background #header ul#navigation li {
        display: inline;
        padding-right: 5px; }
        #header_background #header ul#navigation li a:link,
        #header_background #header ul#navigation li a:active,
        #header_background #header ul#navigation li a:visited,
        #header_background #header ul#navigation li a:hover {
          font-family: 'Helvetica Neue', helvetica, sans-serif;
          font-weight: bold;
          letter-spacing: -0.05em;
          border-radius: 0;
          -webkit-border-radius: 0;
          -moz-border-radius: 0;
          border-top-left-radius: 0.4em;
          border-top-right-radius: 0.4em;
          -webkit-border-top-left-radius: 0.4em;
          -webkit-border-top-right-radius: 0.4em;
          -moz-border-radius-topleft: 0.4em;
          -moz-border-radius-topright: 0.4em;
          background-color: #333333;
          font-size: 18px;
          padding: 5px 10px;
          margin: 0;
          color: #666;
          text-decoration: none; }
        #header_background #header ul#navigation li a:hover {
          color: #fff; }
        #header_background #header ul#navigation li a.active {
          background-color: #333333;
          color: #fff; }

#contact_form {
  display: none;
  background-color: #555555;
  margin: 0;
  padding: 10px 0 15px; }
  #contact_form #ajax_flash {
    display: none;
    margin: 0 auto;
    padding: 0 20px; }
    #contact_form #ajax_flash #flash_message {
      min-width: 600px;
      max-width: 1000px;
      margin: 0 auto 20px;
      padding: 0; }
      #contact_form #ajax_flash #flash_message p {
        color: #555555;
        background-color: #fff;
        border: 1px solid #ccc;
        margin: 0;
        padding: 10px 20px; }
        #contact_form #ajax_flash #flash_message p.success {
          background-color: #e3ffd1;
          border: 1px solid #416223;
          color: #000; }
        #contact_form #ajax_flash #flash_message p.failure {
          background-color: #fdd;
          border: 1px solid #ff6f68;
          color: #000; }
  #contact_form form {
    min-width: 600px;
    max-width: 1000px;
    color: #fff;
    margin: 0 auto;
    padding: 0 20px; }
    #contact_form form #left_form {
      float: left;
      margin-right: 20px; }
    #contact_form form label {
      font: bold 1.2em 'Helvetica neue', helvetica, sans-serif;
      color: #ccc; }
    #contact_form form input[type='text'],
    #contact_form form textarea {
      background-color: #fff;
      border: 1px solid #fff;
      display: block;
      margin-top: 2px;
      margin-bottom: 8px;
      font: 1.4em 'Helvetica neue', helvetica, sans-serif;
      padding: 0.2em; }
      #contact_form form input[type='text']:focus,
      #contact_form form textarea:focus {
        background-color: #fff;
        border: 1px solid black; }
    #contact_form form input[type='submit'] {
      font: bold 1.6em 'Helvetica neue', helvetica, sans-serif;
      letter-spacing: -0.05em;
      color: #333;
      background-color: #fff;
      border: 1px solid #ccc;
      padding: 0.2em;
      margin-top: 0.4em;
      width: 8em;
      height: 2em; }
      #contact_form form input[type='submit']:hover {
        color: black; }

#content {
  min-width: 600px;
  max-width: 1000px;
  margin: 20px auto;
  padding: 0 20px; }

#sidebar {
  float: right;
  width: 250px;
  padding: 0 0 50px 50px;
  font-size: 0.9em;
  color: #555555; }
  #sidebar .widget {
    margin-bottom: 4em; }
    #sidebar .widget p {
      margin-bottom: 0.8em; }

#footer_background {
  margin: 0;
  padding: 0;
  min-height: 150px;
  background-color: #eee;
  border-top: 5px solid #ccc; }
  #footer_background #footer {
    min-width: 600px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px 20px; }
    #footer_background #footer p {
      color: #666;
      font-size: 0.9em; }
    #footer_background #footer ul#footer_navigation {
      list-style: none; }
      #footer_background #footer ul#footer_navigation li {
        display: inline;
        padding-right: 20px; }
