@import constants.sass

body
  :font 12px 'helvetica neue', helvetica, sans-serif
  :color = !text_color
  :background-color #fff
  :margin 0
  :padding 0
  :line-height 1.8em

h1, h2, h3, h4, h5, h6
  +squashed_heading
  :color = !sub_heading_color
  :line-height 1.6em

h1
  :color = !sub_heading_color
  :font-size 48px
h2
  :font-size 36px
h3
  :font-size 28px
h4
  :font-size 18px
h5
  :font-size 14px
h6
  :font-size 12px

p
  :margin 0 0 1.6em

a:link, a:active, a:visited
  :text-decoration none
  :padding 1px
  :margin -1px
  +rounded_corners

a:link
  :color = !link_color
  :background-color #DDF1FD
a:active
  :background-color = !link_color
  :color #000
a:visited
  :color = !link_color + #333
a:hover
  :color #004080

.clear_both
  :clear both

#header_background
  :margin 0
  :padding 20px 0 0
  / :background-color #ddd
  :background #eff8dd url('/images/lighter_grass.jpg') repeat-x top
  :background-color #6cf
  :border-bottom = 10px "solid" !nav_bar_bg

  #header
    +widths
    :margin 0 auto
    :padding 0 20px

    h1
      a:link,
      a:active,
      a:visited,
      a:hover
        +squashed_heading
        :color = !text_color
        :text-decoration none
        :background transparent
        :display none

    ul#navigation
      :list-style none

      li
        :display inline
        :padding-right 5px

        a:link,
        a:active,
        a:visited,
        a:hover
          +squashed_heading
          +rounded_top_corners_only
          :background-color = !nav_bar_bg
          :font-size 18px
          :padding 5px 10px
          :margin 0
          :color #666
          :text-decoration none
        a:hover
          :color #fff
        a.active
          :background-color = !nav_bar_bg
          :color #fff

#contact_form
  :display none
  :background-color = !text_color
  :margin 0
  :padding 10px 0 15px

  #ajax_flash
    :display none
    :margin 0 auto
    :padding 0 20px
    #flash_message
      / :display none
      :min-width 600px
      :max-width 1000px
      :margin 0 auto 20px
      :padding 0

      p
        :color = !text_color
        :background-color #fff
        :border 1px solid #ccc
        :margin 0
        :padding 10px 20px

        &.success
          :background-color #e3ffd1
          :border 1px solid #416223
          :color #000
        &.failure
          :background-color #fdd
          :border 1px solid #ff6f68
          :color #000

  form
    +widths
    :color #fff
    :margin 0 auto
    :padding 0 20px

    #left_form
      :float left
      :margin-right 20px
    #right_form

    label
      :font bold 1.2em 'Helvetica neue', helvetica, sans-serif
      :color #ccc
    input[type='text'],
    textarea
      :background-color #fff
      :border 1px solid #fff
      :display block
      :margin-top 2px
      :margin-bottom 8px
      :font 1.4em 'Helvetica neue', helvetica, sans-serif
      :padding 0.2em

      &:focus
        :background-color #fff
        :border = 1px "solid" !link_color

    input[type='submit']
      :font bold 1.6em 'Helvetica neue', helvetica, sans-serif
      :letter-spacing -0.05em
      :color #333
      :background-color #fff
      :border 1px solid #ccc
      :padding 0.2em
      :margin-top 0.4em
      :width 8em
      :height 2em
      
      &:hover
        :color = !link_color

#content
  +widths
  :margin 20px auto
  :padding 0 20px

#sidebar
  :float right
  :width 250px
  :padding 0 0 50px 50px
  :font-size 0.9em
  :color = !text_color

  .widget
    :margin-bottom 4em

    p
      :margin-bottom 0.8em

#footer_background
  :margin 0
  :padding 0
  :min-height 150px
  :background-color #eee
  :border-top 5px solid #ccc

  #footer
    +widths
    :margin 0 auto
    :padding 10px 20px

    p
      :color #666
      :font-size 0.9em

    ul#footer_navigation
      :list-style none

      li
        :display inline
        :padding-right 20px